h1{
    color: blue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    padding: 0px 0px 0px 0px;
    margin: 0px;
}
ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

a{
    color: aliceblue;
    text-decoration: none;
    background-color: rgb(144, 127, 255);
    border-radius: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;}
li {
  margin-left: 15px;
}


a:hover{
    color: rgb(8, 15, 1);
    text-decoration: dashed;}
body {
  margin: 0;
  padding: 0;}
.pallette {
  display: flex;          
  height: 80vh;}
.palette div {
     display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  flex-direction: column;}


#color1 { 
    background-color: #e80923; color: white; width: 200px;
}
#color2 { 
    background-color: #bb3232; color: aliceblue; width: 200px;
}
#color3 { 
    background-color: #772014; width: 200px;color: antiquewhite;
}
#color4 { 
    background-color: #3F220F; width: 200px; color: antiquewhite
}
#color5 { background-color: #19180A;width: 200px; color: antiquewhite 
}
#color6 { 
    background-color: #2E2D20; color: white; width: 200px;
}
#color7 { 
    background-color: #414034; color: aliceblue; width: 200px;
}
#color8 { background-color: #525146; width: 200px;color: antiquewhite;
}
#color9 { background-color: #6a5445; width: 200px; color: antiquewhite
}
#color10 { background-color: #bcbaa1;width: 200px; color: antiquewhite
 }